*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#timer{
    background-color: #333;
    border: 5px solid #888;
    color: #0f0;
    width: 250px;
    width: inherit;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#divTimer{
    display: flex;
    flex-direction: column;  
    width: 250px;
}

.main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-self: flex-start;
}

#botoes{
    display: flex;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
    background-color: #ccc;
    padding: 5px;
    margin: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
}