*{
    padding: 0;
    margin: 0;
}
:root{
--azul-princpal:#005288;
}

body{
    overflow: hidden;
}

.grid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-princpal);
    color: #fff;
}

.colunaTituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
} */

 .dadosGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}


.colunaLinhaGrid{
display: flex;
justify-content: center;
align-items: center;
}

/* TOPO DA JANELA */
.topoJanela{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.btn_mainoper{
background-color: var(--azul-princpal);
border-radius: 100px;
cursor: pointer;
width: 40px;
}